server:
  port: 8080

spring:
  datasource:
    username: root
    password: Cnm.0001+
    url: jdbc:mysql://nicecoder.cn:3306/project2?useSSL=false&useUnicode=true&characterEncoding=UTF8&serverTimezone=GMT
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    port: 6379
    database: 0
    host: 127.0.0.1
    password:
    jedis:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
    timeout: 5000ms

  thymeleaf:
    cache: false

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

file:
  common:
    filePathWindow: E:\common\file\root\
    uploadLinux: /Users/longtian/temp/image/